<table border="0" cellspacing="2" cellpadding="0">
   <tr>
      <td><a href="javascript:void(0);" 
onclick="location.href='addin/download.php?filename=td_tracking_english.pdf&file
='+document.getElementsByName('remote_domino_path')[0].innerText+'/v.getdocument
/user_manual/$file/td_tracking_english.pdf?open';"><img 
src="../../../../library/images/icon_feed.jpg" 
style="border:none;width:40px;margin-right:10px;" 
style="filter:Chroma(color=#ffffff);" /></a></td>
      <td style="vertical-align:center;font:normal 14px 
verdana,arial;">Download T&D Tracking 3.5 Documentation </td>
      <td style="width:100px; "></td>
      <td><a href="javascript:void(0);" 
onclick="location.href='addin/download.php?filename=gui_english.pdf&file='+docum
ent.getElementsByName('remote_domino_path')[0].innerText+'/v.getdocument/gui/$fi
le/gui_english.pdf?open';"><img 
src="../../../../library/images/icon_screen.png" 
style="border:none;width:40px;margin-right:10px;" 
style="filter:Chroma(color=#ffffff);" /></a></td>
      <td style="vertical-align:center;font:normal 14px 
verdana,arial;">Download Graphical User Interface Documentation </td>
   </tr>
</table>
<br><br>

Application Update Version 3.6.1 [2015-01-23]<br>
<br>
<strong>Noticeable Improvements from version 3.6.1 to 3.6.2:</strong>
<ul>
<li>Picture Upload has been enabled for Google Chrome users</li>
<li>Basic overview: Part Revision has been added for all CPR parts. &#8243;part_rev&#8243; will only be shown for Proposal parts, now</li>
<li>Calendar picker visualization: current month / year are highlighted</li>
<li>Cascading Style Sheets upgraded and streamlined</li>
<li>Fade in and fade out added to visualize browser actions</li>
<li>Close function for Iframes added</li>
<li>HTML Header streamlined and Google Chrome optimized</li>
<li>PAC-Report removed</li>
<li>Late causes Report has been modified</li>
<li>Task report has been modified, SuperUser overall Report has been added</li>
<li>Minor performance enhancements</li>
</ul>
<br><br>

Application Update Version 3.6.1 [2014-12-10]<br>
<br>
<strong>Noticeable Improvements from version 3.6 to 3.6.1:</strong>
<ul>
<li>Fix: Image upload</li>
<li>Fix: Accounting report</li>
<li>Fix: Usersettings</li>
<li>Fix: Link to the view &#8243;Edit parts and tools&#8243;</li>
<li>CT Scan necessary: New checkbox has been added -> auto selected by MDP selection</li>
<li>Project creation: a Tracker can be created, without project creation within EP&C main</li>
<li>MS-Outlook Calendar: Sup process description has been added to the subject and body</li>
<li>Memory: 4 times more memory is available for each User (This will enhance the application performance)</li>
<li>Edit parts and tools: horizontal scroll bar has been added</li>
<li>DIS: DIS views are now available in HTML5 -> ready for Google Chrome</li>
<li>View &#8243;Sample Calender&#8243;: has been removed</li>
<li>View &#8243;My Calendar&#8243;: has been removed</li>
</ul>
<br><br>

Application Update Version 3.6 [2014-12-01]<br>
<br>
<strong>Noticeable Improvements from version 3.5 to 3.6:</strong>
<ul>
<li>HTML 5.0 Support for IE10+, Google Chrome and Firefox: Because some HTML 5 functionalities and the usage of JQuery just the listed web browsers are supported.</li>
<li>Change supported Browser from MS Internet Explorer to Google Chrome: Necessary because HTML 5 features. Google Chrome JavaScript engine is much faster than Internet Explorer, so this improves also the performance.</li>
<li>HTTP compression: Improves the transfer speed and bandwidth utilization.</li>
<li>Additional performance improvements: Some further, mainly JavaScript related, improvements.</li>
<li>Removed &lt;Date&gt; Tab from Tracker view: Not any longer necessary because new workflow incl. advanced timeline tracking.</li>
<li>Management person in charge report (Task Report): Shows all POT's incl. current phase you are responsible for (default "Overdue"). Second step is to add further information in text field (f.e. Project or Part No.). "Get Report" button shows color coded timeline. Export incl. gantt chart to Excel is possible.</li>
<li>New Workflow / Process for advanced timeline tracking: Please find detailed information in T&D Tracking 3.6 Process description manual.</li>
<li>Deputy functionality for new Workflow Process: Click "my Deputies" at top navigation and select timeframe and your deputy within the "Cost Center Deputies" database.</li>
<li>New Outlook Calendar subscribe functionality: User is able to configure (Configuration -> Calendar Configuration) his own calendar and subscribe the tasks he want track in MS Outlook.</li>
</ul>
<br>


