<table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=2 WIDTH="100%" >
   <tr clASS="headline">
      <td colspan=4 >Project Information</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" WIDTH="1%" >Project name</td>
      <td clASS="value" colspan="3" WIDTH="49%" >Replacement / 21-1018359</td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >Project number</td>
      <td clASS="value" colspan="3" >PRJ-11-000002576</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >Project description</td>
      <td clASS="value" colspan="3" >Replacement / 21-1018359</td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >Date PLMC</td>
      <td clASS="value" colspan="3" >21.02.2012</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >Gemis</td>
      <td colspan=3 class="value"><a href="http://teg1.de.tycoelectronics.com:8080/apps/epc/tdtracking/project_cockpit.php?unid=xyz" >1234</a></td>
   </tr>
   <tr clASS="headline">
      <td colspan=4 >Common Info</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" WIDTH="1%" >Project status</td>
      <td clASS="value" colspan="3" WIDTH="49%" >activ</td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >Project Prio</td>
      <td clASS="value" colspan="3" >x</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >active Projectphase</td>
      <td clASS="value" colspan="3" >x</td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >Prio Plant</td>
      <td clASS="value" colspan="3" ><input type="text"></td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >PrioCustServ</td>
      <td clASS="value"><input type="text"></td>
      <td clASS="title" >Customer</td>
      <td clASS="title"><input class="input200 type="text" value="General / 1151-99999999"></td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >Customer Contribution (CuCo)</td>
      <td clASS="title" colspan="3" >x</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >DIS-number</td>
      <td clASS="value" >DIS2012-3776</td>
      <td clASS="title" >CER-number</td>
      <td clASS="title" >x</td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >RDO</td>
      <td clASS="value" colspan="3" >x</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >SOPestimate</td>
      <td clASS="value" colspan="3" >06.08.2012</td>
   </tr>
   <tr clASS="headline">
      <td colspan=4 >Responsible</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >Teammember Champion</td>
      <td clASS="value" colspan="3" >x</td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >CTM Procurement</td>
      <td clASS="value" colspan="3" >x</td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >CTM Marketing</td>
      <td clASS="value" colspan="3" >Matthias Lechner/BEN/TEG</td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >CTM Engineer</td>
      <td clASS="value" colspan="3" ><input type="text" value="Gerard Pons/WEB/TEG"></td>
   </tr>
   <tr clASS="line">
      <td clASS="title" >CTM Manufacturing</td>
      <td clASS="value" colspan="3" ><input type="text" value="x"></td>
   </tr>
   <tr clASS="line_alt">
      <td clASS="title" >RDG Leader/PE Manager</td>
      <td clASS="value" colspan="3" ><input type="text" value="x"></td>
   </tr>

</table>