<table border=0 width=100%>
   <tr>
      <td style="border-right:solid 1px #666666" valign=top width=1%>
         <table border=0 cellspacing=0 cellpadding=0 style="border-right:solid 4px #ffffff;">
            <tr><td id="p1" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;font:normal 16px verdana;height:21px;"><a href="?part=1" style="text-decoration:none;color:#000000;"><nobr>&nbsp;1468959-2</nobr></a></td></tr>
            <tr><td id="p2" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?part=2" style="text-decoration:none;color:#000000;"><nobr>&nbsp;9-1468959-4</nobr></a></td></tr>
            <tr><td id="p3" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?part=3" style="text-decoration:none;color:#000000;"><nobr>&nbsp;2112848-1</nobr></a></td></tr>
            <tr><td id="p4" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?part=4" style="text-decoration:none;color:#000000;"><nobr>&nbsp;1-0704205-0</nobr></a></td></tr>
            <tr><td id="p5" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?part=5" style="text-decoration:none;color:#000000;"><nobr>&nbsp;5-1468959-8</nobr></a></td></tr>
            <tr><td id="p6" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?part=6" style="text-decoration:none;color:#000000;"><nobr>&nbsp;9-1468959-7</nobr></a></td></tr>
         </table>
   
      </td>
      <td>
         <table BORDER="0" WIDTH="100%" >
            <tr clASS="headline">
               <td colspan="2">Part information</td>
            </tr>
            <tr clASS="line">
               <td clASS="dotted" WIDTH="1%" ><img src="../../../../library/images/icons/trash.png">&nbsp;<img src="../../../../library/images/icons/floppy_disc_reg.png">&nbsp;<img src="../../../../library/images/icons/info.png" onclick="javascript:window.open('http://myte.tycoelectronics.com/portal/server.pt?open=512&objID=208&&PageID=39417&mode=2&PartSearch.partNumber=1468959-2')">&nbsp;&nbsp;&nbsp;&nbsp;<input style="width:90px;" type="text" value="1468959-2"</td>          
               <td class="dotted"><input type="text" value="MQS Socket hsg 3p black" style="width:100%;"</td>
            </tr>
            <tr>
               <td style="vertical-align:top; background-color:#F4F4F4;">
                  <table border="0" style="width:100%;" >
                     <tr clASS="line">
                        <td class="noborder">2012</td>
                        <td><input type="text" style="width:100px;" value="100"></td>
                     </tr>
                     <tr clASS="line_alt">
                        <td class="noborder">2013</td>
                        <td><input type="text" style="width:100px;" value="100"></td>
                     </tr>
                     <tr clASS="line">
                        <td class="noborder">2014</td>
                        <td><input type="text" style="width:100px;" value="100"></td>
                     </tr>
                     <tr clASS="line_alt">
                        <td class="noborder">2015</td>
                        <td><input type="text" style="width:100px;" value="100"></td>
                     </tr>
                     <tr clASS="line">
                        <td class="noborder">2016</td>
                        <td><input type="text" style="width:100px;" value="100"></td>
                     </tr>
                     <tr clASS="line_alt">
                        <td class="noborder">2017</td>
                        <td><input type="text" style="width:100px;" value="100"></td>
                     </tr>
                     <tr clASS="line">
                        <td class="noborder">2018</td>
                        <td><input type="text" style="width:100px;" value="100"></td>
                     </tr>
                  </table>
                </td>
               <td colspan="2" style="vertical-align:top;">
                  <table border="0" style="width:100%;">
                     <tr clASS="line">
                        <td colspan="6" style="none-bottom:solid 1px #000000;padding:2px;"><font face="Verdana"><font size=-1><b>Drawing reference</b></font></td>
                     </tr>
                     <tr  clASS="line">
                        <td class="dotted">Number</td>
                        <td class="dotted"><input class="input100" type="text" value="12345"></td>
                        <td class="dotted">Revision</td>
                        <td class="dotted"><input class=input50 type="text" value="C3"></td>
                        <td class="dotted">Date</td>
                        <td class="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
                      </tr>
                      <tr  clASS="line_alt">
                        <td colspan="6" style="none-bottom:solid 1px #000000;padding:2px;"><font face="Verdana"><font size=-1><b>Other data</b></font></td>
                     </tr>
                     <tr  clASS="line_alt">
                        <td class="noborder">Part revision</td>
                        <td class="noborder"><input class="input50 "type="text" value="C3"></td>
                        <td class="noborder">Conditions Loops</td>
                        <td class="noborder"><input class="input50 "type="text" value="3"></td>
                        <td class="noborder">GPL</td>
                        <td class="noborder">S034</td>
                     </tr>
                     <tr  clASS="line_alt">
                        <td class="noborder">Unit of measure</td>
                        <td class="noborder"><input class="input50" type="text" value="PC"></td>
                        <td class="noborder">Delivery point</td>
                        <td class="noborder"><input class="input100 "type="text" value="Speyer"></td>
                        <td class="noborder">Bu region</td>
                        <td class="noborder"><input class="input100" type="text" value="EMEA"></td>
                     </tr>
                     <tr  clASS="line_alt">
                        <td class="noborder">UQS</td>
                        <td class="noborder"><a href="http://teg1.de.tycoelectronics.com/supplier/eps/quotes.nsf/0/034594bd7262fdaec1257937002b8299?open=true"  target="_blank" >2011-025265</a></td>
                        <td class="noborder">RFQ No</td>
                        <td class="noborder"><a href="http://teg1.de.tycoelectronics.com:8080/apps/epc/tdtracking/project_cockpit.php?tool=1" >EMEA-2012-0015</a></td>
                        <td class="noborder">Deviationlevel</td>
                        <td class="noborder"><input class="input50" type="text" value="A"></td>
                     </tr>
                     <tr clASS="line">
                        <td colspan="6" style="none-bottom:solid 1px #000000;padding:2px;"><font face="Verdana"><font size=-1><b>Tool information</b></font></td>
                     </tr>
			<tr  clASS="line">
                        <td class="dotted">Tool Number</td>
                        <td colspan="5" class="dotted"><a href="http://teg1.de.tycoelectronics.com:8080/apps/epc/tdtracking/project_cockpit.php?tool=1" >21-1234567-00</a></td>
                     </tr>
                     <tr clASS="line_alt">
                        <td colspan="6" style="none-bottom:solid 1px #000000;padding:2px;"><font face="Verdana"><font size=-1><b>Control Reports</b></font></td>
                     </tr>
                     <tr  clASS="line_alt">
                        <td class="dotted">Number</td>
                        <td class="dotted">CR Date</td>
                        <td class="dotted">Process status</td>
                        <td class="dotted">IR Date</td>
                        <td class="dotted">IR Assessment</td>
                        <td class="dotted">Status (spec./tooling)</td>
                      </tr>
                      <tr  clASS="line_alt">
                        <td class="noborder"><a href="http://teg1.de.tycoelectronics.com/tyco/web/main.nsf/0/170633AF30DC5325C125761C003E2429?open&key=creport" >0910472</a></td>
                        <td class="noborder">24.08.2009</td>
                        <td class="noborder">IN PREPARING</td>
                        <td class="noborder">n/a</td>
                        <td class="noborder">F4</td>
                        <td class="noborder">NOT AVAILABLE</td>
                     </tr>
                  </table>
               </td>
            </tr>
          </table>
      	</td>
   </tr>
</table>