<table border=0 width=100%>
   <tr>
      <td style="border-right:solid 1px #666666" valign=top width=1%>
         <table border=0 cellspacing=0 cellpadding=0 style="border-right:solid 4px #ffffff;">
            <tr><td id="pt1" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;font:normal 16px verdana;height:21px;"><a href="?pt=1" style="text-decoration:none;color:#000000;">&nbsp;1468959-2<br><nobr>21-1234567-00</nobr></a></td></tr>
            <tr><td id="pt2" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?pt=2" style="text-decoration:none;color:#000000;">&nbsp;9-1468959-4<br><nobr>21-1234567-01</nobr></a></td></tr>
            <tr><td id="pt3" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?pt=3" style="text-decoration:none;color:#000000;">&nbsp;2112848-1<br><nobr>21-1234567-02</nobr></a></td></tr>
            <tr><td id="pt4" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?pt=4" style="text-decoration:none;color:#000000;">&nbsp;1-0704205-0<br><nobr>21-1234567-03</nobr></a></td></tr>
            <tr><td id="pt5" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?pt=5" style="text-decoration:none;color:#000000;">&nbsp;5-1468959-8<br><nobr>21-1234567-04</nobr></a></td></tr>
            <tr><td id="pt6" align=right style="margin:2px;padding:2px;background-color:rgb(255,255,255);width:100px;color:#000000;font:normal 16px verdana;height:21px;"><a href="?pt=6" style="text-decoration:none;color:#000000;">&nbsp;9-1468959-7<br><nobr>21-1234567-05</nobr></a></td></tr>
	</table>
      </td>

	<td>
	  <table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=2 WIDTH="100%" >
	      <tr clASS="headline">
 	  	<td colspan="4" style="none-bottom:solid 1px #000000;padding:2px;"><font face="Verdana"><font size=-1><b>Basic information</b></font></td>
	      </tr>
	      <tr clASS="line">
	  	<td clASS="noborder" >Part number</td>
          	<td class="noborder" ><a href="http://teg1.de.tycoelectronics.com:8080/apps/epc/tdtracking/project_cockpit.php?part=1" >1468959-2</a></td>
	  	<td clASS="noborder" >Part description</td>
	  	<td clASS="noborder" >MQS Socket hsg 3p black</td>
	      </tr>
	  	<td clASS="noborder" >Tool number</td>
	      	<td class="noborder"><a href="http://teg1.de.tycoelectronics.com:8080/apps/epc/tdtracking/project_cockpit.php?tool=1" >21-1234567-00</a></td>
		<td class="noborder">Supplier</td>
		<td class="noborder" >BASF AG</td>
	      </tr>   
 
	      <tr clASS="headline">
 	 	<td colspan="4" style="none-bottom:solid 1px #000000;padding:2px;"><font face="Verdana"><font size=-1><b>Date field</b></font></td>
	      </tr>      
	      <tr clASS="line_alt">
         	<td clASS="dotted" >DM-Tec revised</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
         	<td clASS="dotted" >DM-Tec actual</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
              </tr>
	      <tr clASS="line_alt">
         	<td clASS="dotted" >PPAP doc. revised</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
         	<td clASS="dotted" >PPAP doc. actual</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
              </tr>
	      <tr clASS="line_alt">
         	<td clASS="dotted" >26p revised</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
         	<td clASS="dotted" >26p actual</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
              </tr>
	      <tr clASS="line_alt">
         	<td clASS="dotted" >53p revised</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
         	<td clASS="dotted" >53p actual</td>
         	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
              </tr>
	      <tr clASS="line_alt">
          	<td clASS="dotted" >PPAP prep. revised</td>
          	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
          	<td clASS="dotted" >PPAP prep. actual</td>
          	<td clASS="dotted"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
              </tr>
	      <tr clASS="line_alt">
          	<td clASS="title" >Process approval R@R actual</td>
          	<td colspan="3" clASS="value"><input type="text" style="width:80px">&nbsp;<img src="../../../library/images/icons/cal.gif"></td>
              </tr>
	 </table>


  	 <table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=2 WIDTH="100%" >
  	      <tr clASS="line_alt">
	  	<td colspan="6" style="none-bottom:solid 1px #000000;padding:2px;"><font face="Verdana"><font size=-1><b>Control Reports</b></font></td>
	      </tr>
	      <tr  clASS="line">
	 	<td class="dotted">Number</td>
	 	<td class="dotted">CR Date</td>
 	 	<td class="dotted">Process status</td>
  	 	<td class="dotted">IR Date</td>
  	 	<td class="dotted">IR Assessment</td>
	 	<td class="dotted">Status (spec./tooling)</td>
	      </tr>
  	      <tr  clASS="line">
    	 	<td class="noborder"><a href="http://teg1.de.tycoelectronics.com/tyco/web/main.nsf/0/170633AF30DC5325C125761C003E2429?open&key=creport" >0910472</a></td>
     	 	<td class="noborder">24.08.2009</td>
	 	<td class="noborder">IN PREPARING</td>
  	 	<td class="noborder">n/a</td>
  	 	<td class="noborder">F4</td>
    		<td class="noborder">NOT AVAILABLE</td>
 	      </tr>
	</table>

      </td>

  </tr>
</table>














