table {
	border-collapse:collapse;
}


tr {
	padding:2px;
	vertical-align:center;
}


tr .headline {
	background-color:#FFC236;
	height:25;
	font:normal 13px verdana;
	font-weight:bold
}

tr .line {
	background-color:#F4F4F4;
	height:30;

}


tr .line_alt {
	background-color:#D7D7D7;
	height:30;
}

td {
	white-space: nowrap;
}

td .noborder {
	font:normal 13px verdana;
}

.noborder a:visited, a:link {
        color:blue;
	font:normal 13px verdana;
}


td .dotted {
	border-bottom:dotted 1px #000000;
	padding:2px;
	font:normal 13px verdana;
}

.dotted a:visited, a:link {
        color:blue;
	font:normal 13px verdana;
}

.value a:visited, a:link {
        color:blue;
	font:normal 13px verdana;
}


td .title{
	border-bottom:solid 1px #000000;
	font:normal 13px verdana;

}


td .value{
	border-bottom:solid 1px #000000;
	font:normal 12px century gothic;

}

input {
	border:solid 1px rgb(99,99,99);
	width:150px;
	height:19px;
	font:normal 12px century gothic;
}

.input200 {
	width:200px;

}

.input100 {
	width:100px;

}

.input50 {
	width:50px;

}



