<table border="0" cellspacing="2" cellpadding="0">
   <tr>
      <td><a href="javascript:void(0);" onclick="location.href='addin/download.php?filename=TD_tracking_deutsch.pdf&file='+document.getElementsByName('remote_domino_path')[0].innerText+'/v.getdocument/user_manual/$file/td_tracking_deutsch.pdf?open';"><img src="../../../../library/images/icon_feed.jpg" style="border:none;width:40px;margin-right:10px;" style="filter:Chroma(color=#ffffff);" /></a></td>
      <td style="vertical-align:center;font:normal 14px verdana,arial;">Download T&D Tracking Handbuch</td>
      <td style="width:100px; "></td>
      <td><a href="javascript:void(0);" onclick="location.href='addin/download.php?filename=gui_deutsch.pdf&file='+document.getElementsByName('remote_domino_path')[0].innerText+'/v.getdocument/gui/$file/gui_deutsch.pdf?open';"><img src="../../../../library/images/icon_screen.png" style="border:none;width:40px;margin-right:10px;" style="filter:Chroma(color=#ffffff);" /></a></td>
      <td style="vertical-align:center;font:normal 14px verdana,arial;">Download Graphical User Interface Handbuch</td>
   </tr>
</table>